.mine {
  position: relative;
  overflow: hidden; /* عشان الباكجراوند ما تطلعش بره */
}

.mine::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/stad8.jpg');
  background-size: cover;
  background-position: center;
  filter:blur(4px);
  z-index: 0; /* تخليها تحت المحتوى */
}

.mine > * {
  position: relative;
  z-index: 1; /* المحتوى فوق الخلفية */
}


.image-container {
  text-align: center;
}

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
  margin-bottom: 10px;
}
