<div class="relative h-screen px-8 text-white bg-center bg-cover mybackground">
    <div class="content absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center w-[350px] md:w-[480px]">
        <img src="colorful-logo.svg" alt="logo" class="mx-auto ">
        <h3 class="mb-4">Update your password</h3>
        <p class="mb-6 text-lg text-[#A5A5A5]">Set your new password with minimum 8 characters with a combination of letters and numbers</p>
        <form [formGroup]="updatePassword" (ngSubmit)="onSubmit()">
            <label for="new password " class="flex items-center gap-1 mb-3 text-sm font-semibold text-white"> New password  <span class="text-[#E03137] text-l">*</span></label>
            <div class="relative flex justify-between">
                    <input formControlName="newPasswordInput" [type]="passwordVisibility?'text':'password'" name="new password" id="new password" class="w-full bg-transparent border border-[#E9EAEC] placeholder:text-[#A5A5A5] px-5 py-4 mb-6 rounded-[10px]" placeholder="Input your new password">
                        <i class="absolute cursor-pointer fa-solid fa-eye-slash top-5 right-5"
                            (click)="togglePasswordVisibility()"
                            [hidden]="!passwordVisibility">
                        </i>
                        <i class="absolute cursor-pointer fa-solid fa-eye top-5 right-5"
                            (click)="togglePasswordVisibility()"
                            [hidden]="passwordVisibility">
                        </i>
            </div>

        <small *ngIf="newPasswordInput?.touched && newPasswordInput?.errors?.['required']"class="mb-5 text-red-700">
            <i class="mr-1 fa-solid fa-circle-exclamation"></i>you must enter a password to register
        </small>

        <small *ngIf="newPasswordInput?.touched && newPasswordInput?.errors?.['pattern']" class="mb-5 mr-6 text-red-700">
                <i class="mr-1 fa-solid fa-circle-exclamation"></i>password should be at least 8 letters and contain at least one capital and small letters
        </small>


        <label for="confirm new password" class="flex items-center gap-1 mb-3 text-sm font-semibold text-white"> Password Confirmation  <span class="text-[#E03137] text-l">*</span></label>
        <div class="relative flex justify-between">
            <input formControlName="passwordConfirmationInput" [type]="passwordVisibility?'text':'password'" name="confirm password" id=" confirmation new password" class="w-full bg-transparent border border-[#E9EAEC] placeholder:text-[#A5A5A5] px-5 py-4 mb-6 rounded-[10px]" placeholder="Re-type your new password">
                <i class="absolute cursor-pointer fa-solid fa-eye-slash top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="!passwordVisibility"></i>
                <i  class="absolute cursor-pointer fa-solid fa-eye top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="passwordVisibility"></i>
        </div>


        <small *ngIf="passwordConfirmationInput?.touched && passwordConfirmationInput?.errors?.['required']"  class="mb-5 text-red-700">
            <i class="mr-1 fa-solid fa-circle-exclamation"></i>you must enter your password again to confirm registeration
        </small>

        <small *ngIf="passwordConfirmationInput?.touched && updatePassword?.errors?.['passwordsMismatch']" class="block mb-5 mr-6 text-red-700">
                <i class="mr-1 fa-solid fa-circle-exclamation"></i>Password didn't match
        </small>

        <button type="submit"  class="flex items-center justify-center w-full px-6 py-4 mb-8 font-bold text-white transition-all duration-500 rounded-lg bg-main_color hover:bg-green-700">Confirm</button>
        </form>

    </div>
    <p class="text-[#A5A5A5] absolute bottom-6 left-[50%] translate-x-[-50%]  text-sm">© 2025 Africa Store . Alrights reserved. <span class="text-white">Terms & Conditions</span> <span class="text-white">Privacy Policy</span></p>
</div>
