<div class="max-w-3xl p-6 mx-auto border-gray-700 rounded-lg shadow-lg bg-slate-950">
  <!-- Title -->
  <h2 class="mb-6 text-2xl font-bold text-white">Edit Category</h2>

  <!-- Form -->
  <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()" class="space-y-6">
    <!-- Category Name -->
    <div>
      <label class="block mb-2 text-sm font-medium text-gray-300">Category Name</label>
      <input type="text"
      [value]="selectedCategory?.name"
             formControlName="name"
             placeholder="Enter category name"
             class="w-full px-4 py-2 text-white placeholder-gray-500 bg-gray-800 border border-gray-700 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none">
      <div *ngIf="editCategoryForm.get('name')?.touched && editCategoryForm.get('name')?.invalid" class="mt-1 text-sm text-red-500">
        Category name is required (min 2 characters max 20).
      </div>
    </div>



    <!-- Category Image -->
    <div>
      <label class="block mb-2 text-sm font-medium text-gray-300">Category Image</label>

      <!-- صورة حالية -->
      <div class="mb-3">
        <img    [src]="imagePreview || selectedCategory?.image?.secure_url"   alt="Category Preview" class="object-cover w-32 h-32 rounded-md shadow-md">
      </div>

      <input type="file"
      formControlName="image"
      [value]="selectedCategory?.image?.secure_url"
             (change)="onFileChange($event)"
             accept="image/*"
             class="block w-full text-sm text-gray-300 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-600 file:text-white hover:file:bg-blue-700">
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end">
      <button type="submit"
              class="px-6 py-2 text-white transition bg-yellow-600 rounded-md hover:bg-yellow-700">
        <i class="mr-2 fa-solid fa-pen"></i>
        Update Category
      </button>
    </div>
  </form>
</div>
