<div class="container mb-[100px] text-center text-white">
    <h4 class="pb-3 text-secondary_color">Service</h4>
    <h2 class="text-white pb-14">How can we help you</h2>


    <div class="flex flex-col md:flex-row items-center md:justify-between mb-0 md:mb-[-100px]">
        <div class="text-left">
            <h2 class="pb-6 md:pb-12">Online shopping</h2>
            <h5 class="pb-6 md:pb-12">You can get all Africa Store products through our website.</h5>
            <button class="flex w-full gap-1 px-6 py-4 mb-8 rounded-lg bg-main_color md:w-fit transition-all duration-500 hover:bg-[#00af6cad] active:scale-95 shadow-md hover:shadow-lg active:shadow-inner hover:scale-[1.03]">Start now <img src="arrow-up-right.svg" alt="arrow image" /></button>
        </div>
            <img src="no understand.png" alt="help photo one" class=" w-[350px] md:w-[600px] mt-[-50px] md:mt-0">
		</div>

    <div class="flex  md:flex-row items-center md:justify-between mb-[-50px] md:mb-[-100px] flex-col-reverse">
        <img src="help under.png" alt="help photo one" class="w-[350px] md:w-[600px] mt-[-50px] md:mt-0">
        <div class="text-left">
            <h2 class="pb-6 md:pb-12">Our Branches</h2>
            <h5 class="pb-6 md:pb-12">You can get all Africa Store products through our Africa Store branches spread all over the country</h5>
            <button class="flex w-full gap-1 px-6 py-4 mb-8 rounded-lg bg-main_color md:w-fit transition-all duration-500 hover:bg-[#00af6cad] active:scale-95 shadow-md hover:shadow-lg active:shadow-inner hover:scale-[1.03]">See nearest branch<img src="arrow-up-right.svg" alt="arrow image" /></button>
        </div>
		</div>









</div>
