<div class="relative h-screen px-8 text-white bg-center bg-cover mybackground">
    <div class="content absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center w-[350px] md:w-[480px]">
    <img src="success.svg" alt="logo" class="mx-auto ">
    <h3 class="mb-4">Your successfully changed your password</h3>
    <p class="mb-8 text-lg text-[#A5A5A5]">Always remember the password for your account at Africa Store ! </p>

          <button [routerLink]="'/authentication/login'" class="flex items-center justify-center w-full px-6 py-4 mb-8 font-bold text-white transition-all duration-500 rounded-lg bg-main_color hover:bg-green-700"> Back to Login</button>


  </div>
    <p class="text-[#A5A5A5] absolute bottom-14 w-full  md:bottom-6 text-center left-[50%] translate-x-[-50%]  text-sm">© 2025 Africa Store . Alrights reserved. <span class="text-white">Terms & Conditions</span> <span class="text-white">Privacy Policy</span></p>


  </div>
