<div class="relative h-screen px-8 bg-center bg-cover mybackground">
<div class="content absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center w-[350px] md:w-[480px]">
  <img src="colorful-logo.svg" alt="logo" class="mx-auto ">
  <h3 class="mb-4">Reset Your Password</h3>
  <p class="mb-6 text-lg text-[#A5A5A5]">Enter your email address and we’ll send you password reset instructions.</p>


    <form [formGroup]="forgetPassword" (ngSubmit)="onSubmit()">
  <label for=" Required email " class="flex items-center gap-1 mb-3 text-sm font-semibold text-white"> Required Email  <span class="text-[#E03137] text-l">*</span></label>
        <input formControlName="emailInput" type="email" name="Required email" id="Required email" class="w-full bg-transparent border border-[#E9EAEC] placeholder:text-[#A5A5A5] px-5 py-4 mb-3 rounded-[10px] text-[#A5A5A5]" placeholder="Input your registered email"
        [ngClass]="{
            'border-red-700': emailInput?.touched && emailInput?.invalid
            }"
            >
            <small
            *ngIf="emailInput?.touched && emailInput?.errors?.['required']"
            class="mb-5 text-red-700 ">
            <i class="mr-1 fa-solid fa-circle-exclamation"></i>email is required
            </small>

            <small
            *ngIf="emailInput?.touched && emailInput?.errors?.['pattern']"
            class="text-red-700 ">
            <i class="mb-5 mr-1 fa-solid fa-circle-exclamation"></i>Please enter a valid email address.
            </small>



        <button (click)="onSubmit()" class="flex items-center justify-center w-full px-6 py-4 mt-8 mb-8 font-bold text-white rounded-lg bg-main_color">Confirm</button>
        <p class="w-full text-center text-white">You’re new in here? <button [routerLink]="'/authentication/register'" class="text-main_color">Create Account</button> </p>
        </form>

</div>
<p class="text-[#A5A5A5] absolute bottom-6 left-[50%] translate-x-[-50%]  text-sm">© 2024 Africa Store . Alrights reserved. <span class="text-white">Terms & Conditions</span> <span class="text-white">Privacy Policy</span></p>


</div>
