<div class="pt-10 mb-10 biggest-container">
<div class="container relative flex flex-col items-center justify-center overflow-hidden text-center text-white">
  <h1 class="pb-4 ">Your Gate To Support Your Favourite Team</h1>
  <h5 class="pb-4">The biggest <span class="text-secondary_color">sports store</span> in Egypt </h5>
  <button [routerLink]="'/home/mainhome'" class="z-30 flex gap-1 px-6 py-4 mb-8 rounded-lg bg-main_color w-fit">shop now <img src="arrow-up-right.svg" alt="arrow image" /></button>
  <img src="landing logo.svg" alt="africa store logo" class="hidden md:block absolute left-0 top-[10%] z-1">
  <img src="ronaldo.svg" alt="ronaldo photo" class="z-10">
</div>
</div>
