<div class="relative pt-6 overflow-hidden mb-section-margin biggest-container">
  <div class="container relative flex flex-col items-center flex-1 h-full overflow-hidden text-center text-white">
    <h1 class="pb-4">Your Gate To Support Your Favourite Team</h1>
    <h5 class="pb-4">The biggest <span class="text-secondary_color">sports store</span> in Egypt</h5>
    <button
      [routerLink]="'/home/mainhome'"
      class="z-10 flex gap-1 px-6 py-4 mb-6 rounded-lg bg-main_color w-fit transition-all duration-500 hover:bg-[#00af6cad] active:scale-95 shadow-md hover:shadow-lg active:shadow-inner hover:scale-[1.03]"
    >
      shop now <img src="arrow-up-right.svg" alt="arrow image" />
    </button>
  </div>

  <!-- صورة رونالدو -->
  <img
    src="ronaldo.svg"
    alt="ronaldo photo"
    class="absolute bottom-0 md:-bottom-11 left-1/2 -translate-x-1/2 w-full md:w-[70%] max-w-[450px] z-0"
  />
</div>
