<div class="container grid grid-cols-1 gap-5 mt-10 md:grid-cols-2">
    <div class="images">
        <img src="big one.svg" alt="arsenal shirt" class="mb-5 rounded-[20px] w-full hidden md:block">
        <div class="flex flex-wrap gap-3 ">
          <img src="arsenal-shirt.svg" alt="arsenal shirt" class="w-[160px] md:w-[180px] rounded-[20px]">
          <img src="arsenal-back.svg" alt="arsenal shirt" class="w-[160px] md:w-[180px] rounded-[20px]">
          <img src="arsenal-shirt.svg" alt="arsenal shirt" class="w-[160px] md:w-[180px] rounded-[20px] ">
        </div>
    </div>


    <div class="text-white content">
      <h6 class="mb-5">this is the first shirt for arsenal club for the season 2024 /2025 and it is original cotton shirt </h6>
      <div class="flex gap-5 mb-4">
        <div class="flex items-center gap-1 stars">
          <i class="text-yellow-400 fa-solid fa-star"></i>
          <i class="text-yellow-400 fa-solid fa-star"></i>
          <i class="text-yellow-400 fa-solid fa-star"></i>
          <i class="text-yellow-400 fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
         </div>
         <p class="text-[#FFFFFF]">3 reviews</p>
      </div>
      <div class="flex items-center gap-4 mb-7">
        <h4>380 EGP</h4>
        <del class="text-[#A5A5A5]">450 EGP</del>
      </div>

      <h6 class="mb-5">About</h6>
      <p class="mb-10 text-sm font-normal leading-[160%]"> this is the full description about arsenal shirt for the season 2024 /2025 and the t shirt is available with the copy of bokayo saka , declan rice , gabriel gesus , and martin adegard , come to our branch to get your copy</p>

      <h6 class="mb-4">Size</h6>
      <div class="flex flex-wrap gap-5 mb-4 sizes md:flex-nowrap">
        <div class="px-8 py-3 bg-transparent rounded-[10px] shadow-[0_0px_10px_3px_#52525240]  hover:shadow-[0_0px_10px_3px_#1C6F37] transition duration-300 ease-in-out">s</div>
        <div class="px-8 py-3 bg-transparent rounded-[10px] shadow-[0_0px_10px_3px_#52525240]  hover:shadow-[0_0px_10px_3px_#1C6F37] transition duration-300 ease-in-out">md</div>
        <div class="px-8 py-3 bg-transparent rounded-[10px] shadow-[0_0px_10px_3px_#52525240]  hover:shadow-[0_0px_10px_3px_#1C6F37] transition duration-300 ease-in-out">lg</div>
        <div class="px-8 py-3 bg-transparent rounded-[10px] shadow-[0_0px_10px_3px_#52525240]  hover:shadow-[0_0px_10px_3px_#1C6F37] transition duration-300 ease-in-out">xl</div>
        <div class="px-8 py-3 bg-transparent rounded-[10px] shadow-[0_0px_10px_3px_#52525240]  hover:shadow-[0_0px_10px_3px_#1C6F37] transition duration-300 ease-in-out">2xl</div>
        <div class="px-8 py-3 bg-transparent rounded-[10px] shadow-[0_0px_10px_3px_#52525240]  hover:shadow-[0_0px_10px_3px_#1C6F37] transition duration-300 ease-in-out">3xl</div>
      </div>

      <div class="flex items-center w-full gap-5 mt -10 md:mt-[120px] buttons">
        <button [routerLink]="'/home/mainhome'" class="z-30 flex items-center justify-center flex-1 gap-2 px-10 py-4 rounded-lg bg-main_color">Add to cart <i _ngcontent-ng-c1536667229="" class="text-white fa-solid fa-cart-arrow-down"></i></button>
        <button class="border border-[#1C6F37] py-3 px-6 rounded-[10px]"><i _ngcontent-ng-c1536667229="" class="text-xl text-green-600 fa-regular fa-heart"></i></button>
      </div>

    </div>
</div>
