<div class="container grid grid-cols-1 gap-5 mt-10 md:grid-cols-4 " >
    <!-- left categoriazation section -->
    <div class="md:grid-cols-1 filteration border border-[#444444] rounded-[8px] p-5 h-fit pb-10 ">
        <div class="space-y-4">
            <!-- Category Section -->
                <div>
                    <div class="flex items-center justify-between mb-4">
                        <h2 class="text-lg font-bold text-white ">Category</h2>
                        <button (click)="toggleshowing()" class="text-gray-400 transition-colors hover:text-white ">
                            <i class="transition-all fas fa-chevron-down text-main_color " [class.rotate-180]="!showCategories"></i>
                        </button>
                    </div>
               <div class="mb-3 space-y-2" *ngIf="showCategories">
                                        <div class="flex items-center mb-2 ">
                                            <input type="radio"     value=""                                  (change)="onCategoryChange($event)"  checked  name="category" id="allCategoires" class="w-4 h-4 transition duration-300 border-2 border-gray-300 rounded-full appearance-none cursor-pointer checked:bg-main_color focus:outline-none focus:ring-2 focus:ring-main_color" >
                                            <label for="allCategoires" class="flex w-full ml-2 text-gray-700 duration-200 hover:text-white">All products
                                                <span class="text-gray-500 ms-auto">({{products.length}})</span>
                                            </label>
                                        </div>

                    <div *ngFor="let category of categories" class="flex items-baseline">
                        <!-- Custom Radio Button -->
                        <div class="flex items-center mb-2 ">
                            <input
                                type="radio"
                                (change)="onCategoryChange($event)"
                                id="{{category._id}}"
                                name="category"
                                [value]="category._id"
                                class="w-4 h-4 transition duration-300 border-2 border-gray-300 rounded-full appearance-none cursor-pointer checked:bg-main_color checked:border-red-500 focus:outline-none focus:ring-2 focus:ring-main_color"
                            />
                            <div class="absolute w-4 h-4 border-2 border-gray-300 rounded-full pointer-events-none"></div>
                        </div>
                        <label for="{{category._id}}" class="flex w-full ml-2 text-gray-700 duration-200 hover:text-white">
                            {{category.name}} <span class="text-gray-500 ms-auto">({{category.productsCount}})</span>
                        </label>
                    </div>
                </div>
            </div>
      <div class="bg-[#666666] w-full h-[2px] mb-5" *ngIf="showCategories" ></div>

    <!-- Club Section -->
    <div class="flex items-center justify-between ">
        <h2 class="text-lg font-bold text-white ">Clubs</h2>
        <button (click)="toggleshowingclubs()" class="text-gray-400 transition-colors hover:text-white">
            <i class="fas fa-chevron-down text-main_color" [class.rotate-180]="!showclubs"></i>
        </button>        </div>
        <div *ngIf="showclubs">
        @for (item of ( showAllTeams?teams:teams.slice(0,4)); track $index) {
            <div class="flex items-center mb-1">
                    <input (change)="onTeamChange($event)" type="radio"  id="{{item.id}}"name="team"[value]="item.name"
                        class="w-4 h-4 transition duration-300 border-2 border-gray-300 rounded-full appearance-none cursor-pointer checked:bg-main_color focus:outline-none focus:ring-2 focus:ring-main_color"
                    />
                    <label for="{{item.id}}" class="flex w-full ml-2 text-gray-700 duration-200 hover:text-white">
                            {{item.name}}
                    </label>
                    <img [src]="item.logo" alt="logo" class="w-6">
                </div>
        }
    </div>
      <button class="w-full text-right text-main_color" *ngIf="showclubs" (click)="toggleShowingTeams()">  {{ showAllTeams ? 'See less' : 'See more' }}
</button>
      <div class="bg-[#666666] w-full h-[2px] mb-2" *ngIf="showCategories" ></div>


    <!-- price part  -->
    <div class="flex items-center justify-between mt-2 ">
        <h2 class="text-lg font-bold text-white ">Price</h2>
        <button (click)="toggleshowingprice()" class="text-gray-400 transition-colors hover:text-white">
            <i class="fas fa-chevron-down text-main_color" [class.rotate-180]="!showprice"></i>
        </button>
    </div>

        <div class="" *ngIf="showprice">
            <div class="space-y-5">
                <!-- Price Inputs -->
                <div class="flex flex-col gap-3 ">
                    <!-- first input -->
                    <div>
                        <label class="block mb-1 text-sm font-medium text-gray-700">From</label>
                        <div class="relative">
                            <input type="number" (input)="onMinPriceChange($event)"  class="w-full py-2 pl-12 pr-3 bg-transparent border border-[#666666] rounded-md text-white"><span class="absolute text-gray-500 left-3 top-2">EGP</span>
                        </div>
                    </div>
                    <div>
                        <label class="block mb-1 text-sm font-medium text-gray-700">To</label>
                        <div class="relative">
                            <input type="number" (input)="onMaxPriceChange($event)"  class="w-full py-2 pl-12 pr-3 bg-transparent border border-[#666666] rounded-md mb-8 text-white" ><span class="absolute text-gray-500 left-3 top-2">EGP</span>
                        </div>
                    </div>
                </div>

                <button (click)="resetFilters()" class="w-full py-2 font-bold text-white transition-all duration-200 border-0 rounded-md bg-main_color ">
                    Reset all filters
                </button>
            </div>
        </div>
    </div>
</div>



    <!-- the products right section -->
    <div class="md:col-span-3">
        @if (products.length>0) {
    <div class="grid grid-cols-1 md:grid-cols-[repeat(auto-fill,minmax(275px,1fr))] justify-between gap-x-5 gap-y-8">
        @for (item of products; track $index) {
        <app-card
        [id]="item._id"
            [productImage]="item.thumbnail.secure_url"
            [title]="item.name.slice(0,20)"
            [discription]="item.description"
            [price]="item.finalPrice"
            [discount]="item.discount"
            [priceBeforediscount]="item.price"
            [choosed]="item.choosed"
        ></app-card>
        }
    </div>
}
@else{
<div class="container text-white">

    <div class="flex flex-col items-center justify-center">
    <img src="empty-cart.webp" alt="empty cart" class="my-10">
<p class="text-[20px] md:text[25px] mb-5">No orders in this category with this features !</p>
<p class="text-[18px] mb-5">Place orders now</p>
<h5 class="mb-16 font-semibold cursor-pointer text-main_color" routerLink="/">Go to Home</h5>
    </div>
  </div>
}
    </div>
</div>
