<router-outlet></router-outlet>
<ngx-spinner
type="ball-scale-multiple"
[fullScreen]="true"
color="#00FFAA"
size="medium"
bdColor="rgba(0,0,0,0.6)">
</ngx-spinner> 


<!-- here i put the loading animation spinner golbally and i can use it in any component like when using it in login component and you can control its visibilty with spinner.show()      spinner.hide()       only inject the service in the component like          private spinner:ngxspinnerservice         and after that use the two functions-->
