<div class="relative h-screen px-8 text-white bg-center bg-cover mybackground">
    <div class="content absolute top-[5%] md:top-[10%] left-[50%] translate-x-[-50%]  text-center w-full px-5 md:w-[480px]">
        <img src="colorful-logo.svg" alt="logo" class="mx-auto w-52 md:w-auto ">
        <h3 class="mb-4 changeline">Change your password</h3>
        <p class="mb-6 text-lg text-[#A5A5A5]">Set your new password with minimum 8 characters with a combination of letters and numbers</p>
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">

            <label for="old password " class="flex items-center gap-1 mb-3 text-sm font-semibold text-white"> Old password  <span class="text-[#E03137] text-l">*</span></label>
            <div class="relative flex justify-between">
                <input formControlName="oldPasswordInput" [type]="passwordVisibility?'text':'password'" name="old password" id="old password" class="w-full bg-transparent border border-[#E9EAEC] placeholder:text-[#A5A5A5] px-5 py-4 mb-3 rounded-[10px]" placeholder="Input your old password"
                                                [ngClass]="{'border-red-700':oldPasswordInput?.touched && oldPasswordInput?.invalid}"
                >
                    <i class="absolute cursor-pointer fa-solid fa-eye-slash top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="!passwordVisibility" >
                    </i>
                    <i class="absolute cursor-pointer fa-solid fa-eye top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="passwordVisibility"
                    ></i>
                </div>

                    <small *ngIf="oldPasswordInput?.touched && oldPasswordInput?.errors?.['required']" class="block mb-5 text-left text-red-700">
                        <i class="mr-1 fa-solid fa-circle-exclamation"></i>you must enter your old password
                    </small>

                <small *ngIf="oldPasswordInput?.touched && oldPasswordInput?.errors?.['pattern']" class="block mb-5 mr-6 text-left text-red-700">
                    <i class="mr-1 fa-solid fa-circle-exclamation"></i>password should be at least 8 letters and contain at least one capital and small letters
                </small>






            <label for="new password " class="flex items-center gap-1 mt-3 mb-3 text-sm font-semibold text-white"> New password  <span class="text-[#E03137] text-l">*</span></label>
            <div class="relative flex justify-between">
                <input formControlName="newPasswordInput" [type]="passwordVisibility?'text':'password'" name="new password" id="new password" class="w-full bg-transparent border border-[#E9EAEC] placeholder:text-[#A5A5A5] px-5 py-4 mb-3 rounded-[10px]" placeholder="Input your new password"
                                [ngClass]="{'border-red-700':newPasswordInput?.touched && newPasswordInput?.invalid}"
                >
                    <i  class="absolute cursor-pointer fa-solid fa-eye-slash top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="!passwordVisibility">
                    </i>
                    <i class="absolute cursor-pointer fa-solid fa-eye top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="passwordVisibility">
                    </i>
            </div>

                    <small  *ngIf="newPasswordInput?.touched && newPasswordInput?.errors?.['required']" class="block mb-5 text-left text-red-700">
                        <i class="mr-1 fa-solid fa-circle-exclamation"></i>You must enter the new  password to continue
                    </small>

                <small *ngIf="newPasswordInput?.touched && newPasswordInput?.errors?.['pattern']" class="block mb-5 mr-6 text-left text-red-700">
                    <i class="mr-1 fa-solid fa-circle-exclamation"></i>Password should be at least 8 letters and contain at least one capital and small letters
                </small>


            <label for="confirm new password" class="flex items-center gap-1 mt-3 mb-3 text-sm font-semibold text-white"> Password Confirmation  <span class="text-[#E03137] text-l">*</span></label>
            <div class="relative flex justify-between">
                <input formControlName="passwordConfirmationInput" [type]="passwordVisibility?'text':'password'" name="confirm password" id=" confirmation new password" class="w-full bg-transparent border border-[#E9EAEC] placeholder:text-[#A5A5A5] px-5 py-4 mb-6 rounded-[10px]" placeholder="Re-type your new password"
                [ngClass]="{'border-red-700':passwordConfirmationInput?.touched && passwordConfirmationInput?.invalid}"
                >
                    <i class="absolute cursor-pointer fa-solid fa-eye-slash top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="!passwordVisibility"    >
                    </i>
                    <i class="absolute cursor-pointer fa-solid fa-eye top-5 right-5"
                        (click)="togglePasswordVisibility()"
                        [hidden]="passwordVisibility">
                    </i>
                </div>



                    <small *ngIf="passwordConfirmationInput?.touched && passwordConfirmationInput?.errors?.['required']" class="block mb-5 text-left text-red-700">
                        <i class="mr-1 fa-solid fa-circle-exclamation"></i>You must enter your password again to confirm changing the password
                    </small>

                <small *ngIf="passwordConfirmationInput?.touched          && passwordConfirmationInput?.value !== ''  && changePassword?.errors?.['passwordsMismatch']" class="block mb-5 mr-6 text-left text-red-700" >
                    <i class="mr-1 fa-solid fa-circle-exclamation"></i>Password didn't match
                </small>

            <button type="submit"  class="flex items-center justify-center w-full px-6 py-4 mb-8 font-bold text-white rounded-lg bg-main_color">Confirm</button>
        </form>
    </div>
<p class="text-[#A5A5A5] absolute bottom-5 md:left-[50%] md:translate-x-[-50%]  text-sm text-center">© 2025 Africa Store . Alrights reserved. <span class="text-white">Terms & Conditions</span> <span class="text-white">Privacy Policy</span></p>
</div>
