.neymar{
  background-image:  var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100dvh - 88px);
}

@media(max-width:768px){
  .neymar{
  background-image: var(--bg-url);
  background-position-x: -660px;

    // background-position-x: 74%;
    // height: calc(100vh - 88px);

  }
}


