.neymar{
  background-image: url("/fantasy46.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100dvh - 88px);
}

@media(max-width:768px){
  .neymar{
  background-image: url("/fantasy100.jpg");
  background-position: center;

    // background-position-x: 74%;
    // height: calc(100vh - 88px);

  }
}


