<footer class="container py-10 text-white">
    <div class="w-full h-[2px] bg-white mb-6 hidden md:block"></div>
    <!-- two Sections "products and branches"-->
    <div class="grid w-full grid-cols-1 gap-6 md:grid-cols-4">
        <!-- Products -->
        <div>
            <button (click)="showProducts = !showProducts"
                class="flex justify-between w-full mb-4 text-lg font-semibold">
                Products
                <span [ngClass]="{'rotate-180':showProducts}"  class="transition-transform duration-300 md:hidden">
                    <img src="arrow-bottom.webp" alt="">
                </span>
            </button>
            <hr class="mt-2 border-gray-500 md:hidden" />
            <ul [class.max-h-0]="!showProducts && isMobile"
                [class.max-h-[500px]]="showProducts && isMobile"
                class="mt-2 space-y-2 overflow-hidden text-gray-300 transition-all duration-500 ease-in-out md:max-h-full md:block">
                @for (item of allcategories; track $index) {
                    <li><a href="#" class="hover:text-white">{{item.name}}</a></li>
            }
            <li><a href="#" class="hover:text-white">Original Club Shirts</a></li>
            <li><a href="#" class="hover:text-white">Sports wear</a></li>
            </ul>
        </div>

        <!-- Branches -->
        <div class="w-full md:col-span-3">
            <button (click)="showBranches = !showBranches"
                class="flex justify-between w-full text-lg font-semibold">
                Branches
                <span [class.rotate-180]="showBranches" class="transition-transform duration-300 md:hidden">
                    <img src="arrow-bottom.webp" alt="">
                </span>
            </button>
            <hr class="mt-2 border-gray-500 md:hidden" />
            <!-- Branches List with multi-column layout -->
            <div [class.max-h-0]="!showBranches && isMobile"
                    [class.max-h-[1000px]]="showBranches && isMobile"
                    class="mt-2 overflow-hidden text-gray-300 transition-all duration-500 ease-in-out md:max-h-full md:block">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
                <!-- Downtown Column -->
                <div>
                    <h3 class="font-semibold text-white"></h3>
                    <ul class="mt-2 space-y-2">
                        @for (item of branches.slice(0,9); track $index) {
                        <li><a href="#" class="hover:text-white">{{item}}</a></li>
                        }
                    </ul>
                </div>
<!-- banha column -->
                <div>
                    <ul class="mt-2 space-y-2">
                        @for (item of branches.slice(9,18); track $index) {
                        <li><a href="#" class="hover:text-white">{{item}}</a></li>
                    }
                </ul>
                </div>
<!-- mansour column -->
                <div>
                <ul class="mt-2 space-y-2">
                    @for (item of branches.slice(18); track $index) {
                    <li><a href="#" class="hover:text-white">{{item}}</a></li>
                    }
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- <div class="w-full h-[2px] bg-white mt-6 mb-8 hidden md:block"></div> -->

    <!-- Social Media & Logo -->
    <div class="flex flex-col items-center justify-between w-full md:mt-6 md:flex-row">
        <!-- Social Icons -->
        <div class="text-left">
            <h6 class="my-4 text-center">connect with us</h6>
        <div class="flex gap-4">
            <a href ="https://t.me/africastore?utm_source=chatgpt.com" target="_blank"><img src="tlegram.webp" alt="Telegram" /></a>
            <a href="https://www.instagram.com/afrestore_/?utm_source=chatgpt.com"><img src="instgram.webp" alt="Instagram" /></a>
            <a href="https://www.facebook.com/hamed.ragabelhageen.9" target="_blank"><img src="facebook.webp" alt="Facebook" /></a>
            <a href="tel:+201026502449" target="_blank"><img src="tiktok.webp" alt="call" /></a>
        </div>
    </div>

        <!-- Africa Logo -->
        <div class="hidden mt-4 md:mt-0 md:block">
            <img src="footer-logo.webp" alt="Africa Logo" class="w-60 md:w-auto" />
        </div>
    </div>

    <!-- Copyright -->
    <div class="mt-3 text-sm text-center text-gray-400 md:text-left">
        © 2025 Africa Store, Inc. All rights reserved
    </div>
</footer>
