<section id="firsthome">
  <app-firsthome></app-firsthome>
</section>

<section id="categories">
  <app-categories></app-categories>
</section>

<section id="sports-tshirts">
  <app-sports-tshirts></app-sports-tshirts>
</section>

<section id="football-shoes">
  <app-football-shoes></app-football-shoes>
</section>

<section id="football-shirts">
  <app-tshirts></app-tshirts>
</section>

<section id="sports-shoes">
  <app-sports-shoes></app-sports-shoes>
</section>

<section id="sports-accessories">
  <app-sports-accessories></app-sports-accessories>
</section>

<section id="sports-bags">
  <app-sports-bags></app-sports-bags>
</section>
