<section class="flex items-center h-screen p-16 bg-white dark:bg-gray-900">
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="max-w-md text-center">
      <h2 class="mb-8 font-extrabold text-gray-400 text-9xl">
        <span class="sr-only">Error</span>404
      </h2>
      <p class="text-2xl font-semibold text-gray-700 md:text-3xl dark:text-gray-300">الصفحة غير موجودة</p>
      <p class="mt-4 mb-8 text-gray-600 dark:text-gray-400">
        آسف، الصفحة اللي بتدور عليها مش موجودة أو اتنقلت.
      </p>
      <a href="/" class="px-8 py-3 font-semibold text-white duration-300 bg-blue-600 rounded hover:bg-blue-700">العودة للرئيسية</a>
    </div>
  </div>
</section>
