<div class="container mb-12 text-center ">
<h4 class="pb-3 text-secondary_color">Our product</h4>
<h2 class="pb-10 text-white">what we seeling</h2>
<div class="grid w-full text-white grid-cols-[repeat(auto-fill,_minmax(350px,_1fr))] gap-10 ">


    <div class="card-style " >
        <h5>Football Shirts</h5>
      <a><img src="germany.png" alt="category photo" class="category-photo"></a>
        <button class="category-button">
            Explore more <img src="arrow-up-right.svg" alt="arow" >
        </button>
    </div>

    <div class="card-style " >
        <h5>Sports Shirts</h5>
        <img src="shirts.svg" alt="category photo" class="category-photo">
        <button class="category-button">
            Explore more <img src="arrow-up-right.svg" alt="arow" >
        </button>
    </div>


    <div class="card-style " >
        <h5>Sports shoes</h5>
        <img src="shoes.svg" alt="category photo" class="category-photo">
        <button class="category-button">
            Explore more <img src="arrow-up-right.svg" alt="arow" >
        </button>
    </div>


    <div class="card-style " >
        <h5>Sports bags</h5>
        <img src="bags.svg" alt="category photo" class="category-photo">
        <button class="category-button">
            Explore more <img src="arrow-up-right.svg" alt="arow" >
        </button>
    </div>


    <div class="card-style " >
        <h5>sports accessories</h5>
        <img src="gloves.svg" alt="category photo" class="category-photo">
        <button class="category-button">
            Explore more <img src="arrow-up-right.svg" alt="arow" >
        </button>
    </div>


    <div class="card-style " >
        <h5>Football shoes</h5>
        <img src="stars.svg" alt="category photo" class="category-photo">
        <button class="category-button">
            Explore more <img src="arrow-up-right.svg" alt="arow" >
        </button>
    </div>


</div>
</div>
