@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
img{
  max-width: fit-content;
}
h1{
@apply text-5xl font-bold;
}
h2{
  @apply text-[40px] font-bold;
}
h3{
  @apply text-[32px] font-bold;
}
h4{
  @apply text-2xl font-bold;
}
h5{
  @apply text-xl font-bold;

}
h6{
  @apply text-[18px] font-bold;
}
p{
  @apply text-[16px] font-normal
}
body {
  background-color: #000000;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
@layer components {
  .container {
    max-width: 1200px !important; /* Force the container to stay 1200px */
  }
}
@media(max-width:768px){
  h1{
    @apply text-[18px] font-bold
    }
    h2{
      @apply text-2xl font-bold;
    }
    h3{
      @apply text-[20px] font-bold;
    }
    h4{
      @apply text-[16px] font-normal;
    }
    h5{
      @apply text-sm font-normal;

    }
    h6{
      @apply text-[18px] font-bold;
    }
    p{
      @apply text-[12px] font-normal
    }
}

.my-toast-style {
  z-index: 99999 !important; // يخلي التوست فوق أي حاجة
}

