<div class="bg-slate-900 myshadow ">
<header class="container flex items-center justify-between w-full px-6 py-4 text-white shadow-md ">
    <!-- Left: Sidebar toggle (mobile only) + Logo -->
    <div class="flex items-center gap-4">
        <button class="text-2xl md:hidden" (click)="onToggleSidebar()">
            <i class="fa-solid fa-bars"></i>
        </button>
        <h6>Admin dashboard</h6>

    </div>

    <!-- Right: Actions -->
    <div class="flex items-center gap-6">
        <!-- Notifications -->
        <button class="relative text-xl hover:text-gray-300">
            <i class="fa-solid fa-bell"></i>
            <span
                class="absolute top-0 right-0 w-2 h-2 bg-red-600 rounded-full"></span>
        </button>

        <!-- Profile -->
        <div class="relative" (click)="toggleProfileMenuOpen()">
                <img  [src]="userImageSrc || '/userphoto.webp'" alt="User" class="w-12 h-12 rounded-full cursor-pointer max-w-none" />

            <!-- القائمة بتظهر بس لما menuOpen = true -->
            <div *ngIf="profileMenuOpen" class="absolute right-0 z-[40] w-56 h-auto mt-2 text-left  rounded-md shadow-lg bg-main_color duration-300" @dropdownAnimation>
                <ul class="py-2">
                    <li class="px-4 py-2 transition-transform duration-300 cursor-pointer hover:scale-110 "  [routerLink]="'/authentication/profile'">👤 Your Profile</li>
                    <li class="w-full px-4 py-2 transition-transform duration-300 cursor-pointer hover:scale-110" [routerLink]="'/authentication/changepassword'">🔒 Change Passwrod</li>
                    <li class="px-4 py-2 transition-transform duration-300 cursor-pointer hover:scale-110" (click)="logout()">🚪 Logout</li>
                </ul>
            </div>
        </div>
    </div>
</header>
</div>
